.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 760px;
    .payment_method_stripe {
      display: block !important;
    }
  }
}
